@import url("https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,700|Source+Sans+Pro:400,600");

body {
    line-height: 1.4;
    font-family: "Open Sans Condensed", sans-serif;
    -webkit-font-smoothing: antialiased;
}

p {
    font-family: "DOSIS", sans-serif;
    color: #848484;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 600;
}

.no-padding {
    padding: 0 !important;
}

.inline-block {
    display: inline-block;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

a {
    transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: #0e2737;
}

.btn-main {
    background: #0e2737;
    border: 1px solid #0e2737;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 40px;
    text-transform: uppercase;
    border-radius: 40px;
}

.btn-main:hover {
    color: #fff;
}

.btn-transparent {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 14px 35px;
    text-transform: uppercase;
    border-radius: 40px;
}

.btn-transparent:hover {
    color: #fff;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.section {
    padding: 100px 0;
    background: whitesmoke;
}

.btn:focus {
    color: #ddd;
}

#home {
    position: relative;
}

.section {
    padding: 100px 0;
}

.section-sm {
    padding: 70px 0;
}

.section-xs {
    padding: 40px 0;
}

#preloader {
    background: #fff;
    height: 100%;
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999999999;
}

.btn.active:focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

.parallax-section {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.preloader {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}

.preloader span {
    position: absolute;
    display: block;
    bottom: 0;
    width: 9px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    -webkit-animation: preloader 2s infinite ease-in-out;
    animation: preloader 2s infinite ease-in-out;
}

.preloader span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.preloader span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}

.preloader span:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}

.preloader span:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}

.preloader span:nth-child(6) {
    left: 55px;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

@-webkit-keyframes preloader {
    0% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: rgba(0, 0, 0, 0.1);
    }
    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background: #0e2737;
    }
    50%, 100% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: rgba(0, 0, 0, 0.1);
    }
}

@keyframes preloader {
    0% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #fff;
    }
    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background: #0e2737;
    }
    50%, 100% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #fff;
    }
}

.title {
    padding-bottom: 50px;
    overflow: hidden;
}

.title h2 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.7);
}

.title p {
    color: #848484;
    margin: 0 auto;
}

.title.title-white h2 {
    color: #fff;
}

.border {
    height: 2px;
    margin: 20px auto 20px;
    position: relative;
    width: 80px;
    background: #0e2737;
}

.bg-gray {
    background: #f9f9f9;
}

.header-bradcrumb {
    background: transparent;
}

.header-bradcrumb a, .header-bradcrumb .active {
    color: #cfcfcf;
    font-weight: 200;
    font-family: "Source Sans Pro", sans-serif;
}

.header-bradcrumb a:hover {
    color: #0e2737;
}

.colors-switcher {
    width: 100px;
    padding: 20px 18px 14px 20px;
    position: fixed;
    z-index: 1993;
    top: 90px;
    right: 0;
    background-color: #fff;
    border-radius: 2px 0 0 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .4s ease-in-out;
}

.colors-switcher #show-panel {
    position: absolute;
    left: -38px;
    top: 15px;
    width: 38px;
    height: 38px;
    z-index: 1992;
    display: block;
    background-color: #fff;
    border-radius: 2px 0 0 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    cursor: pointer;
}

.colors-switcher #show-panel i {
    color: #3D3D3D;
    font-size: 20px;
    line-height: 38px;
    margin-left: 10px;
}

.colors-list {
    margin: 0;
    padding: 0;
}

.colors-list li {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 4px;
}

.colors-list li a {
    text-align: center;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    cursor: pointer;
}

.colors-switcher .colors-list a.light-red {
    background-color: #FF432E;
}

.colors-switcher .colors-list li a:hover {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

.colors-switcher .colors-list a.light-red {
    background-color: #FF432E;
}

.colors-switcher .colors-list a.blue {
    background-color: #0e2737;
}

.colors-switcher .colors-list a.light-blue {
    background-color: #69D2E7;
}

.colors-switcher .colors-list a.green {
    background-color: #5BB12F;
}

.colors-switcher .colors-list a.light-green {
    background-color: #BCCF02;
}

.colors-switcher .colors-list a.yellow {
    background-color: #FED136;
}

.slick-slide {
    outline: none;
}

.logo {
    display: inline-block;
}

.pages-header {
    background-image: url("../images/abstract-3.jpg");
    background-size: cover;
    padding: 140px 0 70px;
    text-align: center;
    color: #fff;
    position: relative;
}

.pages-header:before {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/*
  Navigation
*/
.navigation {
    transition: .3s all;
}

.navigation .blue-logo {
    display: none;
}

.navigation .navbar-nav > li.active a {
    color: #0e2737;
}

.navigation .navbar-nav > li > a {
    color: white;
    font-size: 14px;
    line-height: 26px;
    padding: 20px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .2s ease-in-out 0s;
}

.navigation .navbar-nav > li > a:hover, .navigation .navbar-nav > li > a:active, .navigation .navbar-nav > li > a:focus {
    background: none;
    color: whitesmoke;
}

.navigation .nav .open > a {
    background: none;
}

.navigation .dropdown {
    padding: 0;
}

.navigation .dropdown .dropdown-menu {
    border-radius: 0;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    background-color: #000;
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s ease-in-out;
    transition: transform 0.3s, opacity 0.3s ease-in-out, -webkit-transform 0.3s;
}

.navigation .dropdown .dropdown-menu li a {
    padding: 8px 15px;
    color: #9d9d9d;
}

.navigation .dropdown .dropdown-menu li a:hover {
    padding-left: 20px;
    background: transparent;
    color: #fff;
}

.navigation .dropdown:hover .dropdown-menu {
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s ease-in-out;
    transition: transform 0.3s, opacity 0.3s ease-in-out, -webkit-transform 0.3s;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}

.sticky-navigation {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    background: whitesmoke !important;
}

.sticky-navigation .navbar-nav > li > a {
    color: #0e2737;
}

.sticky-navigation .white-logo {
    display: none;
}

.sticky-navigation .blue-logo {
    display: block;
}

.sticky-navigation .blue-logo {
    height: 10vh;
}


.landing {
    background-image: url("../images/abstract-3.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.landing:before {
    content: '';
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.landing .block {
    color: #fff;
}

.landing .block h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.landing .block p {
    color: #fff;
    width: 50%;
    margin-bottom: 20px;
}

.landing .block .btn-main {
    margin-right: 8px;
}

.landing .block .btn-main:hover {
    opacity: .8;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 780px;
}

.block {
    position: relative;
}

.dark-bg {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

/*
  About us section
*/
.about {
    padding: 100px 0;
    background: #fff;
}

.about .btn-about {
    background: #0e2737;
}

.about h4 {
    margin-top: 30px;
}

.about .feature-list {
    margin-top: 10px;
}

.about .feature-list li {
    width: 48%;
    display: inline-block;
    color: #666;
    font-size: 13px;
    font-family: "Catamaran", sans-serif;
    margin-bottom: 5px;
    font-weight: 600;
}

.about .feature-list li i {
    color: #0e2737;
    margin-right: 8px;
}

/*
  About us  section
*/
.about-us {
    background: #F7F7F7;
    padding-top: 0;
}

.about-us .benefits {
    padding-left: 30px;
}

.about-us .benefits li {
    position: relative;
    margin-bottom: 15px;
    font-size: 16px;
    color: #777;
    font-family: "Source Sans Pro", sans-serif;
}

.about-us .benefits li:before {
    position: absolute;
    margin-right: 12px;
    margin-left: -45px;
    content: "\f375";
    font-family: "themefisher-font";
    opacity: 1;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 20px;
}

/*
create-something
*/
.create-something {
    padding: 100px 0;
    background:#0e2737;
    color: #fff;
}

.create-something h2 {
    line-height: 1.5;
}

.create-something p {
    color: #fff;
}

.create-something .btn-main {
    background: white;
    color:#0e2737;
    margin-top: 20px;
}


/*
  Contact
 */
.contact-us {
    padding: 100px 0 50px 0;
}

.thankyou_message {
    background: #1d68a7;
    color: white;
    height: 10vh;
    border: none;
    border-radius: 8px;
    display: none;
    margin-bottom: 3vh;
}

.contact-info {
    position: relative;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.contact-content {
    position: relative;
    z-index: 1;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
}

.contact-title {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 40px;
}

.contact-title i {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 15px;
    color: #3a84df;
}

.contact-title h4 {
    color: #3a84df;
}

p {
    margin-bottom: 0;
}

.google-maps {
    position: relative;
    z-index: 1;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
}

.section-heading {
    position: relative;
    z-index: 1;
    /*margin-bottom: 50px;*/
}

.section-heading h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 10px;
    color: #0e2737;
}

.section-heading h1 {
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 0;
    display: block;
    line-height: 1.2;

}

.contact-form {
    position: relative;
    z-index: 1;
}

.contact-form h2 {
    margin-bottom: 30px;
    font-size: 22px;
    display: block;
}

.contact-form .form-control {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 2px;
    font-size: 14px;
    margin-bottom: 5vh;
    border: 1px solid #ebebeb;
    color: #afb4bf;

}

.contact-form textarea {
    height: 150px;
    padding: 0 20px;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
    color: #afb4bf;

}

.btn {
    position: relative;
    z-index: 1;
    min-width: 150px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 0 40px;
    text-align: center;
    text-transform: capitalize;
    background-color: #0e2737;
    color: white;
    border: none;
    border-radius: 25px;
}

.btn:focus, .btn:hover {
    font-weight: 500;
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    background-color: white;
    color: #0e2737;
}

.achievements {
    padding-bottom: 30px;
    color: #444;
    position: relative;
}

.achievements.kill-border:before {
    background: none;
}

.achievements:before {
    background: #e5e5e5;
    content: "";
    margin-top: -27.5px;
    height: 55px;
    width: 1px;
    position: absolute;
    right: -15px;
    top: 50%;
}

.achievements > div {
    margin: 6px 0;
}

.achievements span {
    display: inline;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
}

.achievements i {
    font-size: 40px;
    display: inline-block;
    color: #0e2737;
}

.achievements h3 {
    font-size: 18px;
    margin: 0;
    color: #666;
}



/*
  Portfolio section
*/
.portfolio-filter {
    margin-bottom: 40px;
    text-align: center;
}.portfolio-filter .btn-main{
   padding: 2vh 3vh;
}

.portfolio-filter button {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 20px;
    text-transform: uppercase;
    background: #0e2737;
    border: none;
    color: #fff;
    outline: none;
}

.portfolio-filter button.active {
    background: #0e2737;
    color: #fff;
    border-radius: 50px;
}

.portfolio-block {
    position: relative;
    margin-bottom: 30px;
}

.portfolio-block:before {
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    content: '';
}

.portfolio-block:hover:before {
    opacity: 1;
}

.portfolio-block:hover .caption h4 {
    top: 45%;
}

.portfolio-block:hover .caption {
    opacity: 1;
    top: 55%;
}

.portfolio-block .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.portfolio-block .caption h4 {
    font-size: 16px;
}

.portfolio-block .caption h4 a {
    color: #fff;
}


/*
  Services section
*/
.services {
    padding: 100px 0 130px;
}

.services .service-block {
    padding: 50px 35px 40px 35px;
}

.services .service-block.color-bg {
    background: #0e2737;
    color: #fff;
}

.services .service-block.color-bg i, .services .service-block.color-bg h3, .services .service-block.color-bg p {
    color: #fff;
}

.services .service-block .service-icon {
    margin-bottom: 30px;
}

.services .service-block i {
    font-size: 75px;
    color: #0e2737;
}

.services .service-block h3 {
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.services .service-block p {
    font-size: 14px;
    color: #666;
}

/*
  Services section
*/
.offer-service .service-item {
    border: 1px solid #eee;
    margin-bottom: 30px;
    padding: 50px 20px;
    transition: all 0.3s ease 0s;
}

.offer-service .service-item:hover {
    box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
}

.offer-service .service-item:hover i {
    background: #fff;
    color: #0e2737;
}

.offer-service .service-item i {
    font-size: 30px;
    display: inline-block;
    background: #0e2737 none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    height: 55px;
    line-height: 55px;
    margin-bottom: 20px;
    width: 55px;
    transition: all 0.3s ease 0s;
}



/*
  Our Team
 */
.team {
    padding: 100px 0;
    background: #F6F6F6;
}

.team .team-member {
    background: #fff;
}

.team .team-member .member-content {
    padding: 25px 0;
}

.team .team-member .member-content h3 {
    font-size: 20px;
    margin: 0 0 5px;
    color: #333;
}

.team .team-member .member-content span {
    font-size: 14px;
    color: #555;
}

.team .team-member .member-content p {
    color: #777;
    margin-top: 10px;
    padding: 0 15px;
}

.team .member-photo {
    overflow: hidden;
    position: relative;
}

.team .member-photo:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.team .member-photo img {
    transition: all 0.6s ease 0s;
}

.team .member-photo .mask {
    background: rgba(40, 171, 227, 0.7);
    position: absolute;
    width: 100%;
    bottom: 0;
    top: auto;
    opacity: 0;
    filter: alpha(opacity=0);
    left: 0;
    right: 0;
    cursor: pointer;
    padding: 0;
    height: 80px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all .3s ease;
}

.team .member-photo .mask ul {
    text-align: center;
    position: relative;
    margin-top: 22px;
}

.team .member-photo .mask ul li {
    display: inline-block;
    margin-right: 7px;
}

.team .member-photo .mask ul li a {
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
}

.team .member-photo .mask ul li a:hover {
    background-color: #6cb670;
    border: 1px solid transparent;
}

.team .member-photo:hover .mask {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

/*member */
.member {
    padding-top: 100px;
    background: #0e2737;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 80px;
}

.member:before {
    content: "";
    display: block;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0;
    height: 150px;
    background-color: white;
}

.member .item i {
    font-size: 60px;
    color: #fff;
    margin-bottom: 50px;
    display: inline-block;
}

.member .item .member-info {
    padding-bottom: 30px;
}

.member .item .member-info p {
    font-size: 17px;
    color: #fff;
    font-weight: 200;
    padding: 0 10%;
}

.member .item .member-photo img {
    display: inline-block;
    border-radius: 100%;
    width: 150px;
    height: auto;
}


/*
  Footer section
*/
.footer {
    background-color: #0e2737;
    border-top: 1px solid #404040;
    padding: 100px 0 80px;
}

.footer i {
    color: white;
    font-size: 3vh;
    margin: 1vh;
}

.footer h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 13px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
    padding-right: 20px;
}

.footer li a {
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: color .3s;
    font-family: "Source Sans Pro", sans-serif;
    display: block;
}

.footer li a:hover {
    color: #0e2737;
}

.footer .social li i {
    color: whitesmoke;
}

.footer-subscribe .subscribe-form {
    position: relative;
    z-index: 1;
    margin-top: 30px;
}

.footer-subscribe .subscribe-form input {
    width: 100%;
    height: 46px;
    background-color: #3e525f;
    border-radius: 30px;
    border: none;
    padding: 0 20px;
    color: #ffffff;
    font-size: 14px;
}

.footer-subscribe .subscribe-form input:focus {
    box-shadow: none;
}

.footer-subscribe .subscribe-form button {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    top: 3px;
    right: 3px;
    color: #ffffff;
    background-color: #1cc3b2;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.footer-subscribe .subscribe-form button:focus, .footer-subscribe .subscribe-form button:hover {
    background-color: #2a303b;
}


/*
	For Small Desktop
*/
@media (min-width: 700px) and (max-width: 1090px) {
    .navigation .navbar-toggle {
        border: 1px solid #fff;
    }

    .navigation .navbar-toggle span {
        background: #fff;
    }

    .navigation .navbar-nav > li > a {
        font-size: 10px;
        padding: 20px 9px;
    }

    .navigation.sticky-navigation .navbar-toggle {
        border: 1px solid #dedede;
    }

    .navigation.sticky-navigation .navbar-toggle span {
        background: #000;
    }

    .navigation.sticky-navigation .navbar-nav > li > a {
        padding: 16px 9px;
    }

    .navbar-brand h1 {
        width: 130px;
    }

    .navbar-brand img {
        width: 100%;
    }

    .achievements:before {
        display: none;
    }
}


/*
	Tablet (Portrait) Design for a width of 768px
*/
@media (min-width: 768px) and (max-width: 979px) {
    .achievements:before {
        display: none;
    }

    /* navigation */
    .navbar-inverse .navbar-nav li a {
        padding: 20px 10px;
    }

    /* about us */
    .wrap-about {
        margin: 0 0 75px;
    }

    .about-content {
        margin: 0 auto;
        width: 60%;
    }

    /* fun facts */
    #counter {
        padding-bottom: 50px;
    }

    .achievements {
        margin-bottom: 30px;
    }

    /* our services */
    .service-block {
        margin: 0 auto 40px;
        width: 310px;
    }

    /* our team */
    .team-mate {
        margin: 0 auto 30px;
        width: 280px;
    }

    /* our skills */
    .skill-chart {
        margin: 0 auto 40px;
        width: 300px;
    }

    .skill-chart {
        margin: 0 auto 40px;
        width: 90%;
    }

    .skill-chart > h3 {
        margin: 15px 0;
    }

    /* pricing table */
    .pricing {
        margin: 0 auto 30px;
        width: 300px;
    }

    /* member */
    .client-info {
        width: 75%;
    }

    /* latest posts */
    .note {
        margin-bottom: 30px;
    }

    /* blog page */
    .tab-post-nav li a {
        padding: 10px;
    }

    /* singla blog page */
    .author-social {
        margin-left: 0;
    }
}

/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 767px) {
    .navigation.sticky-navigation .navbar-toggle {
        border: 1px solid #dedede;
    }

    .navigation.sticky-navigation .navbar-toggle span {
        background: #000;
    }

    .navigation.sticky-navigation .navbar-nav > li > a {
        padding: 8px 9px;
    }

    .navigation .navbar-toggle {
        border: 1px solid #fff;
    }

    .navigation .navbar-toggle span {
        background: #fff;
    }

    .achievements:before {
        display: none;
    }

    .clients-logo-slider {
        text-align: center;
    }

    /* parallax section */
    .parallax-section {
        background-position: center top !important;
    }

    /* h1 font size home slider */
    h1 {
        font-size: 30px;
    }

    .carousel-caption img {
        width: 70%;
    }

    #slitSlider .carousel-caption h2 {
        font-size: 24px;
        letter-spacing: 0.5px;
        line-height: 35px;
        margin-bottom: 25px;
    }

    #slitSlider .carousel-caption h3 {
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 28px;
        margin-bottom: 25px;
    }

    #slitSlider .carousel-caption a {
        font-size: 14px;
    }

    #nav-dots {
        display: block;
    }

    #nav-arrows {
        display: none;
    }

    /* navigation */
    .navbar-fixed-top {
        /*padding-bottom: 10px;*/
    }

    .navbar-inverse .navbar-toggle,
    .navbar-inverse .navbar-toggle .icon-bar {
        border-color: #4e595f;
        border-radius: 0;
    }

    .navbar-inverse .navbar-toggle:hover {
        border-color: #ddd;
        border-radius: 0;
    }

    .navbar-inverse .navbar-toggle .icon-bar:hover {
        background-color: #ddd;
    }

    .navbar-collapse.in {
        overflow-y: inherit;
        background: #0e2737;
    }

    .navbar-header {
        /*background: #0e2737;*/
    }

    .navbar-brand {
        padding: 10px 0 10px 10px;
    }

    .navbar-toggle {
        margin-top: 22px;
    }

    .navbar-nav {
        margin: 0 -15px;
    }

    .navbar-inverse .navbar-nav li a {
        line-height: 45px;
        padding: 0;
        text-align: center;
        border-bottom: 1px solid transparent;
    }

    .wrap-about {
        margin: 0 auto 80px;
        width: 85%;
    }

    .feature-desc a {
        margin: 5px 5px 5px 0;
    }

    /* fun facts */
    /* services */
    #services .title {
        padding-bottom: 60px;
    }

    .service-block {
        margin: 0 auto 30px;
        width: 280px;
        position: relative;
        left: -8px;
    }

    /* our skills */
    .skill-chart {
        margin: 0 auto 40px;
        width: 280px;
    }

    /* our team */
    .team-mate {
        margin: 0 auto 31px;
        width: 280px;
    }

    .team-mate img {
        margin: 0 auto;
    }

    .member-info ul {
        text-align: center;
        margin-bottom: 10px;
    }

    /* pricing table */
    .pricing {
        margin: 0 auto 20px;
        width: 280px;
    }

    /* portfolio */
    .portfolio-filter ul li a {
        margin: 0 10px 10px 0;
        padding: 5px 10px;
    }

    /* members */
    .sub-title h3 {
        font-size: 18px;
    }

    .client-info {
        width: 100%;
    }

    /* latest posts */
    #blog {
        padding-bottom: 0;
    }

    .note {
        margin-bottom: 30px;
    }

    .note .excerpt {
        padding: 0 20px 20px;
    }

    .all-post {
        margin: 20px 0 30px;
    }

    /* contact */
    .contact-info {
        margin: 0 0 30px;
    }

    #map-canvas {
        height: 250px;
    }

    /* footer */
    .social-icon ul li, .social-icon ul li:first-child {
        margin: 15px;
    }

    .social-icon ul li a {
        width: 50px;
        height: 50px;
    }

    .social-icon ul li a i {
        font-size: 24px;
        line-height: 50px;
    }

    .blog-title h1 {
        font-size: 28px;
    }

    /* blog page */
    #blog-page {
        margin: 0;
    }

    #blog-posts {
        margin: 0 0 40px;
    }

    .post-excerpt h3 {
        font-size: 20px;
    }

    .post-pagination ul li {
        margin: 0 10px 10px 0;
    }

    .tab-post-nav li a {
        padding: 8px 5px;
    }

    /* single blog page */
    .author-social {
        margin-left: 0;
    }

    .author-avatar {
        margin-right: 10px;
    }
}

@media only screen and  (max-width: 767px) {
    .navbar-brand {
        margin-top: 0;
    }

    .navigation .navbar-nav > li > a {
        color: white;
        font-size: 14px;
        line-height: 26px;
        padding: 20px 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: .2s ease-in-out 0s;
    }
}

@media only screen and  (min-width: 767px) {
    .logo-default {
        margin-top: -9px;
    }
}

/*

	Mobile (Landscape) Design for a width of 480px

*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .title h2 {
        font-size: 32px;
    }

    .counter .counter-title h2 {
        font-size: 35px;
    }

    /* navigation */
    .navigation .navbar-toggle {
        border: 1px solid #fff;
    }

    .navigation nav .collapse .navbar-collapse .navbar-right {
        background: blue;
    }

    .navigation .navbar-toggle span {
        background: #fff;
    }

    .navbar-fixed-top {
        padding-bottom: 10px;
    }

    .navbar-brand {
        margin-top: -9px !important;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #6CB670;
        border-radius: 0;
    }

    .navbar-inverse .navbar-toggle:hover {
        border-color: #fff;
        border-radius: 0;
    }

    .navbar-collapse.in {
        overflow-y: inherit;
    }

    .navbar-toggle {
        margin-top: 22px;
    }

    .navbar-inverse .navbar-nav li a {
        line-height: 45px;
        padding: 0;
        text-align: center;
        border-bottom: 2px solid transparent;
    }

    /* about us */
    .wrap-about {
        margin: 0 auto 75px;
        width: 70%;
    }

    /* services */
    .service-block {
        margin: 0 auto 40px;
        width: 310px;
    }

    /* our team */
    .team-mate {
        margin: 0 auto 30px;
        width: 280px;
    }

    .team-mate img {
        margin: 0 auto;
    }

    /* portfolio */
    .og-grid li {
        width: 245px;
    }

    /* skills */
    .skill-chart {
        margin: 0 auto 40px;
        width: 300px;
    }

    /* pricing table */
    .pricing {
        margin: 0 auto 30px;
        width: 350px;
    }

    /* members */
    .client-info {
        width: 74%;
    }

    /* latest posts */
    #blog {
        padding-bottom: 0;
    }

    .note {
        margin: 0 auto 30px;
        width: 75%;
    }

    /* contact */
    .contact-info {
        width: 100%;
    }

    /* blog page */
    .tab-post-nav li a {
        padding: 10px 15px;
    }
}

@media only screen and  (max-width: 376px) {
    .landing .col-md-12 {
        margin-top: 15vh;
    }

    .landing .col-md-12 h1 {
        font-size: 50px;
    }

    .landing .col-md-12 .list-inline > li {
        margin-bottom: 3vh;
    }
}

/*for iphone 5se*/
 @media only screen and (width: 320px) {
     .landing .col-md-12{
         height: 75vh;
     }
     .landing .col-md-12 h1{
         font-size: 30px;
     }
     .landing .block p{
        width: 100%;
     }
 }

@media only screen and (width: 768px) {
    .col-sm-4{
        width: 100%;
    } .col-sm-6{
        width: 100%;
    }
}